/node_modules/
/.idea/
/packages/*/node_modules/
/packages/*/lib/
/packages/*/client
/packages/*/plugin

# babel插件
/packages/babel-jsx-codeinfo-transformer/
# webpack-react插件
/packages/webpack-plugin/